

:after, :before, :root {
    --primary-lighter: #fecccc;
    --primary-light: #ff0000;
    --primary-main: #ff0000;
    --primary-dark: #aa0000;
    --primary-darker: #510000;
    --secondary-lighter: #fff2ce;
    --secondary-light: #ffcc00;
    --secondary-main: #ad7f00;
    --secondary-dark: #464100;
    --secondary-darker: #1a1700;
    --fancyGradient-linearSecondaryTo: #ff0000;
    --fancyGradient-radialPrimaryTo: #00ff47;
    --fancyGradient-radialAccentFrom: #fff500;
    --fancyGradient-radialAccentTo: #51d500

    --fancy-x: 0%;
    --fancy-y: 0%;
    --fancy-gradient-blend-mode: overlay, color-dodge, overlay, overlay, difference, normal;
    --fancy-gradient-dark: linear-gradient(120deg,var(--primary-light) 0%,
                           var(--primary-darker) 100%), 
                           linear-gradient(120deg,var(--secondary-main) 0%,
                           var(--secondary-darker) 100%), 
                           linear-gradient(180deg,var(--secondary-dark) 0%,
                           var(--fancyGradient-linearSecondaryTo) 100%), 
                           linear-gradient(60deg,var(--secondary-light) 0%,
                           var(--primary-dark) 100%), 
                           radial-gradient(100% 165% at var(--fancy-x) var(--fancy-y),var(--primary-main) 0%,var(--fancyGradient-radialPrimaryTo) 100%), radial-gradient(100% 150% at 0% 0%,var(--fancyGradient-radialAccentFrom) 0%,var(--fancyGradient-radialAccentTo) 100%);
    --fancy-gradient-light: var(--fancy-gradient-dark);
}
/* WebKit (Chrome, Safari, Opera) Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #4b4b4b; /* Dark gray */
    border-radius: 4px;
}

/* Simple animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes oscillate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes zoomBackground {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 150% 150%;
    }
    100% {
        background-size: 100% 100%;
    }
}

* {
    color: white;
    transition: all 0.5s ease-in-out;
}

/* Loading screen start*/
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(46, 46, 46, 0.84);
    backdrop-filter: blur(10px); /* Blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

#loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #a21d1d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content.visible {
    display: block;
    opacity: 1;
}
/* Loading screen end */

/* Default gradient for every page */
body {
    font-family: "DM Sans", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color:hsla(0,65%,89%,1);
    background-image:
    radial-gradient(at 83% 0%, hsla(0,100%,68%,1) 0px, transparent 50%),
    radial-gradient(at 17% 0%, hsla(0,76%,70%,1) 0px, transparent 50%),
    radial-gradient(at 49% 0%, hsla(0,80%,67%,1) 0px, transparent 50%),
    radial-gradient(at 1% 95%, hsla(0,100%,68%,1) 0px, transparent 50%),
    radial-gradient(at 60% 64%, hsla(0,50%,75%,1) 0px, transparent 50%),
    radial-gradient(at 92% 17%, hsla(358,81%,66%,0.34) 0px, transparent 50%),
    radial-gradient(at 99% 97%, hsla(0,51%,81%,1) 0px, transparent 50%),
    radial-gradient(at 4% 14%, hsla(0,44%,82%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(358,93%,63%,0.34) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0,100%,86%,1) 0px, transparent 50%),
    radial-gradient(at 30% 29%, hsla(358,100%,83%,1) 0px, transparent 50%);
    background-attachment: fixed;
    background-size: cover;
    transition: background 0.3s ease-in-out;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    animation: zoomBackground 4s infinite linear;
}

header {
    background: none;
}

header>div>h1>a {
    text-decoration: none;
    color: black;
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 2.5rem;
}

nav ul li a {
    color: rgb(59, 59, 59);
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    font-size: 1.5rem;
}

#home {
    height: 80vh;
}

#home > .container {
    padding-top: 3rem;
    align-items: start;
    max-width: none;
    margin: 0 auto;
    display: flex;
}

.top-right-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    max-width: 25rem;
    height: auto;
}

.blobs {
    animation: oscillate 3s infinite ease-in-out;
}

#blob-one {
    position: absolute;
    top: -20rem;
    right: -5rem;
    z-index: -2;
    max-width: 60rem;
    height: auto;
    opacity: 0.6;
    animation-delay: 0s;
}

#blob-two {
    animation-delay: 0.5s;
}

.bottom-right-icon {
    position: absolute;
    bottom: -12rem;
    right: -2rem;
    z-index: -3;
    max-width: 55rem;
    height: auto;
    opacity: 0.6;
    transform: rotate(19deg);
}

.left, .right {
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left img, .right img {
    max-width: 75%; /* Ensures images resize properly */
    height: auto; /* Maintains aspect ratio */
}

.fit-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.right img {
    width: 100%;
}


h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

p {
    text-align: center;
    margin-bottom: 1rem;
}

#ourservicesh2,
#contactush2 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

section .card a,
section .card a img,
section .card a p {
    text-decoration: none;
    color: inherit;
}

.logo-services {
    width: 20vw;
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    color: #FAF9F6;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    background: none;
}

footer p {
    color: #faf9f66e;
    font-size: 0.6rem;
}

footer,
.social-icons {
    z-index: 10000;
}

.social-icons a img {
    opacity: 0.8;
    width: 1rem;
    height: 1rem;
    margin: 0 10px;
}

.social-icons a img:hover {
    transform: scale(1.5);
}

/* Services */
main {
    flex: 1;
    padding: 2rem 0;
    width: 100%;
    transition: filter 0.3 ease-in-out;
}

.card {
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.card a p {
    letter-spacing: 1.5px;
}

/* Popups */
#services {
    height: 100vh;
    align-content: center;
}

/* NOTE: Check later on. Popups don't need to be blurred*/
/* body.popup-active {
    filter:  blur(5px);
}

 */
.popup {
    display: flex;
    position: fixed;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(141, 78, 78, 0.9);
    border-radius: 10px;
    color: black;
    padding: 5rem;
    animation: slideDown 0.5s forwards;
    overflow-y: auto;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.popup-content h1 {
    margin-top: 0;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10002; /* Ensure it is above other elements */
    color: white; /* Ensure it is visible on your background */
}
.container-services {
    display: flex;
    width: 70%;
}

.services {
    flex: 1;
    padding: 20px;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
}

.services li {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.services li.selected {
    text-align: right;
    background-color: #b37575b6;
    border-radius: 5px;
}

.requirements {
    flex: 2;
    padding: 20px;
}

.requirements h2 {
    margin-top: 0;
}

.requirements li.has-sublist {
    font-weight: bold;
    list-style-type: none;
    font-size: 1.2rem;
}

.requirements li.has-sublist > ul {
    list-style-type: disc;
    padding-left: 20px;
    font-weight: normal; /* Ensure sublist items are not bold */
    font-size: 1rem;
}

/* Scroll to top button */
#scrollToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: transparent;
    color: #da1313;
}

.mobile-divider {
    display: none;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.223);
    width: 80%;
    margin: 20px auto;
}

/* Contact Us */
#contact {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0;
}

#contact .container {
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#contact .container .map-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center; /* Center the iframes horizontally */
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap; /* Ensure they wrap on smaller screens */
}

.maps {
    border-radius: 10px;
    margin: 0 auto; /* Center the individual iframes */
}

.map-1,
.map-2,
.map-3 {
    align-items: center;
}

.spacediv {
    height: 30vh;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    header {
        display: none;
    }

    #home {
        height: 70vh;
    }

    .menu-button,
    .close-button {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        background: none;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 9998;
        font-size: 1.5rem;
        line-height: 1;
    }

    .close-btn {
        display: block;
        top: 2px;
        right: 15px;
    }
    
    /* Adjust container services for smaller screens */
    .container-services {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .popup {
        width: 90vw;
        height: 90vh;
        padding: 1rem;
    }

    .popup h1 {
        font-size: 1.5rem;
    }

    .popup-menu {
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        top: 0;
        left: 0;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box; /* Include padding in element's total width and height */
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        opacity: 0;
    }

    .popup-menu.show {
        transform: translateX(0);
        opacity: 1;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 1rem 0;
    }

    .top-right-icon {
        display: none;
    }

    /* #blob-one {
        display: none;
    } */

    .bottom-right-icon {
        display: none;
    }

    .logo-services {
        width: 30vw; /* Adjusted for smaller screens */
    }

    #home > .container {
        margin-top: 17rem; /* Increase top margin for logo */
        padding: 1rem;
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .social-icons.fixed {
        position: fixed;
        bottom: 100px;
        right: 1rem;
        left: auto;
        transform: none;
        flex-direction: column;
        align-items: flex-end;
    }

    .social-icons a {
        margin: 5px 0;
    }

    .social-icons.visible {
        display: flex;
    }

    #scrollToTopBtn {
        transition: opacity 0.5s ease-in-out;
        bottom: 2.5rem;
        right: 1.1rem;
    }
    
    .mobile-divider {
        display: block;
    }

    #contact {
        height: 70vh;
    }

    #contact .container {
        padding-bottom: 2rem; /* Add padding to the bottom of the container */
    }

    .map-container > div {
        margin-bottom: 2rem; /* Add margin to the bottom of each map container */
    }

    .spacer {
        height: 4rem; /* Spacer height, adjust as needed */
    }

    .spacediv {
        height: 10vh;
    }
}

/* popup menu states */
.menu-button,
.close-button {
    transition: opacity 0.5s ease-in-out;
}

.menu-button.hidden,
.close-button.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Popup menu smooth transition */
.popup-menu {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateX(100%);
    opacity: 0;
    position: fixed;
    z-index: 9997;
    background-color: rgba(141, 78, 78, 0.9);
    color: white;
    top: 0;
    right: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in element's total width and height */
}

.popup-menu.show {
    transform: translateX(0);
    opacity: 1;
}

/* Show popup when active */
.popup-menu.show {
    display: flex;
}

.popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.popup-menu ul li {
    margin: 20px 0;
}

.popup-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-button,
.close-button {
    display: none;
}

@media (max-width: 768px) {
    .menu-button,
    .close-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 9998;
        font-size: 1.5rem;
        line-height: 1;
    }
}